/* #3D52A0 */
/* 7091E6 */
/* 8697C4 */
/* ADBB0A */
/* EDE8F5 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #cfd2e44c;
  overflow: hidden;
  padding-bottom: 4rem;
}

button {
  border: none;
  outline: none;
}

@media screen and (max-width: 890px) {
  .desktopHeader {
    display: none;
  }

  .home {
    display: grid;
    grid-template-columns: 1fr;
  }

  .profileSection {
    display: none;
  }

  .postSection {
    width: 100%;
  }

  .formCantainer {
    display: block;
    overflow: hidden;
  }

  .form {
    width: 100%;
    height: 100%;
  }

  .centerCantainer {
    width: 100%;
  }

  .postCard {
    width: 120px;
    height: 100px;
  }

  .cardContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
    grid-gap: 1rem;
  }

  .profileCantainer {
    height: min-content;
    /* display: flex; */
    /* flex-direction: column; */
  }

  .profileCardCantainer {
    width: 80%;
    display: flex;
    place-items: center;
  }

  .profilePostCantainer {
    display: none;
  }
}

@media screen and (min-width: 1040px) {
  .cardCantainer {
    width: 24rem;
    min-height: 28rem;
  }

  .home {
    padding: 2rem 0.5rem 2rem 2rem;
  }

  .phoneHeader {
    display: none;
  }

  .createPage {
    padding: 2rem;
  }
  .container {
   display: none;
  }
  
}