/* #3D52A0 */
/* 7091E6 */
/* 8697C4 */
/* ADBB0A */
/* EDE8F5 */

/* .home{

} */

header {
    height: 10vh;
}

main {
    height: 100vh;
    overflow-y: scroll;
}

main::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
main {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}


.home {
    margin-right: auto;
    margin-left: auto;
    padding: 1.5rem .5rem;
    width: 98%;
    height: 100%;
    display: grid;
    padding-bottom: 6rem;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    place-items: center;
    grid-gap: 2rem;
}